/* #5b5868 */
body{
    margin: 0 auto;
}
main {
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    animation: fadeIn 2s ease 0s 1 normal;
}
.slider_img{
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    animation: fadeIn 2s ease 0s 1 normal;
}
.header_content02{
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    animation: fadeIn 2s ease 0s 1 normal;   
}


@keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
}

header{
    margin-bottom: 80px;
}

.header_content01{
    margin-top: 0px;
    margin-left: 100px;
    width: 450px;
    height: 752px;
    background-color: #5b5868;

}
.header_content01 a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.header_content01 li{
    list-style: none;
    margin-bottom: 35px;
}

.header_content01 h2{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 55px;
    margin-top: 100px;

}
.rink_01 li:hover{
    opacity: 0.5;
}

.header_content01 img{
    margin-left: 20px;
    width: 175px;
    margin-bottom: 30px;
}
.header_content01 ul{
    margin-left: 20px;
}
.header_content02 h4{
    font-size: 20px;
    font-family: serif;
    position: absolute;
    top: 40px;
    left: 1160px;
}
.header_content02 h3{
    color: #000;
    font-size: 25px;
    font-family: serif;
    position: absolute;
    top: 650px;
    left: 1230px;
    text-decoration: underline 1px;
}

.fab{
    font-size: 1.4em;
}
.fa-solid{
    font-size: 1.3em;
}
.Icon{
    display: flex;
    
}
.Icon i{
    color: #fff;
    margin-right: 15px;
}
.Icon a:hover{
    opacity: 0.5;
}

/* slideShow */
.slider{
    position: absolute;
    top: 140px;
    left: 360px;
    width: 1000px;
    height: 435px;
}
main{
    margin: 0 auto;
    width: 1300px;
}
article{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
article div{
    background-color: #f2f3f7;
    width: 300px;
    height: 400px;
    /* border: #5b5868 2px solid; */
    margin: 0px 20px 0px 20px;
    box-shadow: 3px 3px 3px rgb(136, 136, 136);
}
article div:hover{
    opacity: 0.6;
}
article img{
    width: 260px;
    margin: 20px 0px 0px 20px;
}

article h3{
    width: 260px;
    margin: 10px 0px 0px 20px;
}
article div p{
    width: 260px;
    height: 100px;
    margin: 10px 0px 0px 20px;
    table-layout: fixed;
    word-wrap: break-word;
}
/* footer */
footer{
    margin-top: 100px;
    margin-bottom: 0px;
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #5b5868;
}

.footer_logo{
    margin-left: 100px;
}
.footer_logo img{
    width: 100px;
    height: 100px;
    margin-left: 180px;
}

.com_info{
    margin-right: 10px;
    margin-left: 300px;
}
.com_info p{
    color:#fff;
    margin: 0;
}
small{
    position: absolute;
    top: 160px;
    left: 570px;
    color: #fff;
    width: 400px;
    padding-top: 20px;
    text-align: center;
}